<div id="<%= dom_id consultant %>">
  <p>
    <strong>Name:</strong>
    <%= consultant.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= consultant.image %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= consultant.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= consultant.phone %>
  </p>

</div>
